<a href="https://colab.research.google.com/github/Lutfulbari/python-A-to-Z/blob/gh-pages/python_A_z_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello\nworld')

In [ ]:
print('hello world')

In [ ]:
print('hello.world')

In [ ]:
print('hello,world')

** Math** summation````

In [ ]:
a = 10
b = 5
c = a + b
print("summation: \n",a,"+",b,"=",c,)

**subtract**

In [ ]:
a = 10
b = 5
d = a - b
print("subtract: \n",a,"-",b,"=",d,)

*multiple*

In [ ]:
a = 10
b = 5
e = a * b
print("multiple: \n",a,"*",b,"=",e,)

Divided

In [ ]:
a = 10
b = 5
d = a / b
print("subtract: \n",a,"/",b,"=",d,)

In [ ]:
'''a = 10
b = 5
d = a / b
print("subtract: \n",a,"/",b,"=",d,)'''

In [ ]:
#a = 5
#b = 5
#d = a / b
# print("subtract: \n",a,"/",b,"=",d,)

**string**

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(a+b)

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(a,b)

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(c,2222)

capitalize

In [ ]:
a = "python developer"
cap = a.capitalize()
print(cap)

**uppercase**

In [ ]:
a = "python developer"
up = a.upper()
print(up)

**Lowercase**

In [ ]:
a = "PYTHON DEVELOPER"
low = a.lower()
print(low)

*title*

In [ ]:
a = "PYTHON DEVELOPER"
tit = a.title()
print(tit)

Boolean

In [ ]:
a = "PYTHON DEVELOPER"
print(a.islower())

In [ ]:
a = "python developer"
print(a.islower())

In [ ]:
a = "python developer"
print(a,"is lower ?",a.islower())
print(a,"is lower --> ?",a.isupper())
up = a.upper()
print(up,"--> Is Upper ?",up.isupper())
print(a,"--> Is alpha ?",up.isalpha())
b="itscallalpha"
c="itscal50lalpha"
d="01552464940"
e="lutfulbarimusa"
print(b,"--> Is alpha ?",b.isalpha())
print(c,"--> Is alnum ?",c.isalnum())
print(d,"--> Is aldigit ?",d.isdigit())
print(e,"--> Is aldigit ?",e.isdigit())

**split**

In [ ]:
a ='musa want to be A python developer'
sp = a.split('a')
print(sp)
b = 'musa want to be A python developer'
sp = b.split('n')
print(sp)
a ='musa want to be A python developer'
sp = a.split('m')
print(sp)

In [ ]:
a = "Musa want to be a python ios developer."
find = a.find("b")
print(find)
a = "Musa want to be a python ios developer."
find = a.find("sa")
print(find)
a = "Musa want to be a python ios developer 2020."
find = a.find("20")
print(find)
# join()
a = "Musa  want to be a python ios developer."
find = a.find("b")
print(find)

**Join**

In [ ]:
a = ["Musa","want","to","be","a","python","ios","developer."]
b = '<>'
print(b.join(a))

In [ ]:
a = ["Musa","want","to","be","a","python","ios","developer."]
b = '()\n'
print(b.join(a))

**string .format**

In [ ]:
print('{1} {2} {0}'.format('one','two','three'))
print('{0} {1} {2} {0}'.format('one','two','three'))

print('{:.>20} {} {} '.format('one','two','three'))
print('{:.<20} {} {} '.format('one','two','three'))
print('{:.^20} {:.^20} {:.^20} '.format('one','two','three'))

**input**

In [ ]:
a = input()
b = input()
print(a+b)

In [ ]:
a =int (input())
b =int (input())
print(a+b)

In [ ]:
a =float (input())
b =float (input())
print(a+b)

In [ ]:
a =(input())
b =(input())
print(a+b)

**if&eles**if=eles condition   statemenr

In [ ]:
a = 5
b = 8
if a < b:
    print("a is small")
else:
    print('b is small')

In [ ]:
a = 44
b = 8
if a < b:
    print("a is small")
else:

    print('b is small')

In [ ]:
c = 44
d = 12
if c < d:

    print("c is small")
else:

    print('d is small')

In [ ]:
a =int (input())  
b =int (input())
a = 333
b = 314
if a > b:
    print('a is small')
else:
    print('b is smal')

In [ ]:
a = 5
b = 8

if a < b:
    print("a is small")
else:
    print("b is small")

In [ ]:
a = 53
b = 8

if a < b:
    print("a is small")
else:
    print("b is small")

In [ ]:
print("enter first is small:")
a = int (input())

print("enter scound is small:")
b = int (input())


if a < b:

    print("first number is small")
else:

    print("scound number is small")

**if & else**

In [ ]:
a = 233
b = 273
c = 443
if a > b:
    if a > c:
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gretest")
    else:        
        print("a is gretest")

else:
    print("c is gretest")

In [ ]:
a = 2322
b = 223
c = 43
if a > b:
    if a > c:
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gretest")
    else:        
        print("a is gretest")

else:
    print("c is gretest")

In [ ]:
a = 22
b = 223
c = 43
if a < b:
    if a < c:
        
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:

    if b > a:
        print("b is gretest")           
    else:
        print("a is gretest")
else:
    print("c is gretest")

In [ ]:
a = 53
b = 8

if a > b:
    print("a is small")

In [ ]:
a = 50
b = 30
c = 60
if a > b:
    if a > c:
        print("a is gratest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gratest")
    else:
        print("a is gratest")
else:
    print("c is gratest")

In [ ]:
a = 10
b = 20
c = 30
if a > b:
    if a > c:
        print("a is gratest")
    else:
        print("c is gratest")
elif b > c:
    if b > a:
        print("b is gratest")
    else:
        print("a is gratest")
else:
    print("b is gratest")

**if & else  GRADE & GRADE POINT**

In [ ]:
mark = int(input())
if mark > 79:       # mark = 79 --100
    if mark < 100:
        print("A+")
elif mark > 75:     # mark = 75 --79    
    if mark < 79:
        print("A")
elif mark > 70:     # mark = 7 --74    
    if mark < 74:
        print("A-") 
elif mark > 65:     # mark = 65 --69    
    if mark < 69:
        print("B+")
elif mark > 64:     # mark = 64 --60    
    if mark < 60:
        print("b-")
elif mark > 50:     # mark = 50 --59    
    if mark < 59:
        print("C+")
elif mark > 50:     # mark = 50 --54    
    if mark < 54:
        print("C")
elif mark > 40:     # mark = 40 --44    
    if mark < 44:
        print("D")
else:               # MARK = 00 ---> 39
    print("FAIL")

In [ ]:
 print("Enter your subject mark:")
mark = int (input())
if mark >= 80:       # mark = 79 --100
    if mark <= 100:
        print("Grade = A+ \n Grade point: 4.00")
elif mark >= 75:     # mark = 75 --79    
    if mark <= 79:
        print("Grade = A \n Grade point: 3.75")
elif mark >= 70:     # mark = 7 --74    
    if mark <= 74:
        print("Grade = A- \n Grade point: 3.50")
elif mark >= 65:     # mark = 65 --69    
    if mark <= 69:
        print("Grade = b+ \n Grade point: 3.25")
elif mark >= 64:     # mark = 64 --60    
    if mark <= 60:
        print("Grade = B \n Grade point: 3.00")
elif mark >= 50:     # mark = 50 --59    
    if mark <= 59:
        print("Grade = B- \n Grade point: 2.75")
elif mark >= 50:     # mark = 50 --54    
    if mark <= 54:
        print("Grade = C+ \n Grade point: 2.50")
elif mark >= 40:     # mark = 40 --44    
    if mark <= 44:
        print("Grade = D \n Grade point: 2.00")
else:               # MARK = 00 ---> 39
    print("FAIL\n Grade point:0.00")

In [ ]:
 print("Enter your subject mark:")
mark = int (input())
if mark >= 80:       # mark = 79 --100
    if mark <= 100:
        print("Grade = A+ \n Grade point: 4.00")
elif mark >= 75:     # mark = 75 --79    
    if mark <= 79:
        print("Grade = A \n Grade point: 3.75")
elif mark >= 70:     # mark = 7 --74    
    if mark <= 74:
        print("Grade = A- \n Grade point: 3.50")
elif mark >= 65:     # mark = 65 --69    
    if mark <= 69:
        print("Grade = b+ \n Grade point: 3.25")
elif mark >= 64:     # mark = 64 --60    
    if mark <= 60:
        print("Grade = B \n Grade point: 3.00")
elif mark >= 50:     # mark = 50 --59    
    if mark <= 59:
        print("Grade = B- \n Grade point: 2.75")
elif mark >= 50:     # mark = 50 --54    
    if mark <= 54:
        print("Grade = C+ \n Grade point: 2.50")
elif mark >= 40:     # mark = 40 --44    
    if mark <= 44:
        print("Grade = D \n Grade point: 2.00")
else:               # MARK = 00 ---> 39
    print("FAIL\n Grade point:0.00")

**FUNCTION**

In [ ]:
def add(a,b):
    c = a+b
    return c

def sub(a,b):
    c = a-b
    return c

a = 5
b = 8

s = add(a,b)

print("ADD: ",s)

d =sub(a,b)

print("SUBTRACT: ",d)

In [ ]:
def display(name,id,age):
    print("Name: ",name)
    print("Id: ",id)
    print("Age: ",age)
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)

Name:  lutful bari musa
Id:  552464940
Age:  21

In [ ]:
def display(name,id,age):
    print("Name: ",name)
    print("Id: ",id)
    print("Age: ",age)
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)    
         
d = "LutfulBariMusa"
e = "400464040"
f = "22"
 
display(d,e,f)

In [ ]:
def display(name,id,age):
    print("Name: ",name,"--> Id: ",id,"--> Age: ",age)
    
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)    
         
d = "LutfulBariMusa"
e = "400464040"
f = "22"
 
display(d,e,f)

In [ ]:
def print_greatest_no(a,b,c):
    
    if a>b:
        if a>c:
            print(a,"is Greatest")
        else:
            print(c,"is Greatest")
    elif b>a:
        if b>c:
            print(b,"is Greatest")   
        else:
            print(c,"is Greatest")   
    else:
        print(c,"is Greatest")   
a = 40
b = 20
c = 30
print_greatest_no(a,b,c)

40 is Greatest

In [ ]:
def print_greatest_no(a,b,c):
    greatest = 0
    if a>b:
        if a>c:
            greatest = a
        else:
            greatest = c
    elif b>a:
        if b>c:
            greatest = b   
        else:
            greatest = c   
    else:
        greatest = c

    print(greatest,"is greatest")   
a = 40
b = 20
c = 30
print_greatest_no(a,b,c)

In [ ]:
def get_greatest_no(a,b,c):
    greatest = 0
    if a>b:
        if a>c:
            greatest = a
        else:
            greatest = c
    elif b>a:
        if b>c:
            greatest = b   
        else:
            greatest = c   
    else:
        greatest = c

    return greatest   

a = 40
b = 20
c = 30
d = get_greatest_no(a,b,c)

print(d,"is greatest")

40 is greatest

**passing prameter by name**

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(name = "lutful",id = 20)

Name:  lutful  --> ID:  20

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(id = 20,name = "lutful")

Name:  lutful  --> ID:  20

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(20,"lutful")

Name:  20  --> ID:  lutful

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display("lutful",20)

Name:  lutful  --> ID:  20

**Forwarding function**

In [ ]:
def add(p,q,r):
    return p+q+r

d1 =  [1000,20,10]
s = add(d1[0],d1[1],d1[2])
print(s)

1030

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p+q+r

def add2(p,q,r):
    return p+q+r

d1 =  [1000,20,10]
s = add(d1[0],d1[1],d1[2])

print(s)

1030

**forwarding function**

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p+q+r

def add2(p,q,r):
    return add1(q,p,r)

d1 = [1000,20,10]
s = add(*d1)
print(s)

#print(add2(d1))

1030

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p-q+r

#forwarding function 

def add2(p,q,r):
    return add1(q,p,r)

d1 = [1000,20,10]
s = add(*d1)
#print(s)

print(add1(*d1))

-970

**While loop**

In [ ]:
i = 0

while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

**Continue and Brack**

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
3
4
6
7
8
9

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        break
    print(i)
    i = i + 1
print("end")

0
1
2
3
4
end

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        continue
    print(i)
    i = i + 1
print("end")

0
1
2
3
4
6
7
8
9
end

**FIBONACCI NUMBER**

In [ ]:
def fibonacci (n):
    first = 0
    second = 1
    fibo = 0
    print(first)
    print(second)

    i = 3
    while i <= n:
        fibo = first + second
        print(fibo)
        first = second 
        second = fibo
        i = i + 1
a = int(input("Enter a number: "))
fibonacci (a)

Enter a number: 32
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

# Function

In [ ]:
def add(a,b):
    c = a+b
    return c

def sub(a,b):
    c = a-b         # one houre pagol hoye gesilam ple solved koren
    return c

a = ('rahat is a cse student+')

b = ('student time he is doing work')

s = add(a,b)

print("ADD: ",s)

d = sub(a,b)

print("SUBTRACT: ",d)

ADD:  rahat is a cse student+student time he is doing work

TypeError: ignored

#*FUNCTION*

In [ ]:
def display(name,id,age):
    
    print("name: ",name)
    
    print("ID: ",id)

    print("age: ",age)

a = "salam"

b = "01552464940"

c = 20

display(a,b,c)

d = "rahim"
e = "0171158983"
f = 34

display(d,e,f)

g = "lutful bari musa want to be a  python developer \n "

h = "he is a good man \n "

i = "age  33 years  \n "

display(g,h,i)

name:  salam
ID:  01552464940
age:  20
name:  rahim
ID:  0171158983
age:  34
name:  lutful bari musa want to be a  python developer

ID:  he is a good man

age:  age  33 years

*function*

In [ ]:
def add(a,b):
    c = a+b
    return c
def sub(a,b):
    c = a-b
    return c
a = 5 
b = 8

s = add(a,b)

print(s)
d =sub(a,b)

print(d)

13
-3

*Paramater*

In [ ]:
def display(name,id,age):
    print("Name: ",name,"----------->Id: ",id,"---------->Age: ",age)
  


a = "Salam"

b = "01552464940"

c = 30
display(a,b,c)
d = "lutful"

e = "01552464940"

f = 30

display(d,e,f)
g = "musa"

h = "015"

i = 29

display(g,h,i)

Name:  Salam ----------->Id:  01552464940 ---------->Age:  30
Name:  lutful ----------->Id:  01552464940 ---------->Age:  30
Name:  musa ----------->Id:  015 ---------->Age:  29

*function dobul* gratest

In [ ]:
def get_greatest_no(a,b,c):
    greatest = 0
    if a>b:
        if a>c:
            greatest = a
           #print(a,"is greatest")
        else:
           #print(c,"is greatest")
             greatest = c
    elif b>a:
        if b>c:
            greatest = b
            #print(b,"is greatest")
        else:
            greatest = c
            #print(c,"is greatest")
    else:
         greatest = c
    return greatest

a = 40
b = 20
c = 30
d = get_greatest_no(a,b,c)
print(d,"is greatest")

40 is greatest

***function passing parameter by name***

In [ ]:
def display(name,id):
    print("Name: ",name,"---->Id: ",id)
#display(name = "Rahim", id = 20)
display(id = 20,name = "Rahim")

Name:  Rahim ---->Id:  20

*function forwarding*

In [ ]:
def add(p,q,r):
    return p-q+r

def add1(q,p,r):
    return p-q+r
# forwarding function    
def add2(p,q,r):
    return add1(q,p,r)


d1 = [1000,20,10]
#s = add(d1[0],d1[1],d1[2])
s = add(d1[0],d1[1],d1[2])
#print(s)

print(add2(*d1))

990

*while loop*

In [ ]:
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

while looop continue and loop
***italicized text***

In [ ]:
i = 0
while i < 10:
    if i == 5:
        i = i+1
        continue
       #break
    print(i)
    i = i + 1
print("END")

0
1
2
3
4
6
7
8
9
END

*print nth fibonacci number*

In [ ]:
def fibonacci(n):
    first = 0
    second = 1 
    fibo = 0

    print(first)
    print(second)


    i = 3
    while i <= n:
        fibo = first + second
        print(fibo)

        first = second
        second = fibo
        i = i + 1
a = int(input("enter a number: "))
fibonacci(a)

enter a number: 8
0
1
1
2
3
5
8
13

*list *

In [ ]:
"""p = [1,2,3,4,5,6,7,8,9,]
print(len(p))
p = [1,2,3]
print(len(p))""""""
p = [1,2,3]
print(p[2])
p = [1,2,3,"DOG","CAT"]
print(p[3:5])"""

P = ["DOG","CAT","cow","goat","hot","fish",]
q = [1,2,3,4,5]
#Print("lenght of p: ",len(p))
#print(p[3],p[2])
i = 0
while i<5:
    print(p([i]),q[i])

'''n = len(p)
print(p[4],p[n-2])
print(p[4],p[n-1])
'''

TypeError: ignored

***list2***

In [ ]:
P = ["Dog","Cat","cow","monkey"]
q = [1,2,3,4,5]
i = 0
while i<5:
 
    print(p[i],q[i])
    i = i + 1

1 1
2 2
3 3
DOG 4
CAT 5

link list is a container data stracture

In [ ]:
p = ["dog","cat","cow","rat","monkey"]
#print("lenght of p: ",len(p))
'''n = len(p)
print(p[3],p[-2])
print(p[4],p[-1])'''

q = [1,2,3,4,5]

i = 0
while i<5:
    print(p[i],q[i])
    i = i + 1

dog 1
cat 2
cow 3
rat 4
monkey 5

In [ ]:
"""p = ["dog","cat","cow","rat","monkey"]
#print("lenght of p: ",len(p))
'''n = len(p)
print(p[3],p[-2])
print(p[4],p[-1])'''

q = [1,2,3,4,5]

i = 0
while i<5:
    print(p[i],q[i])"""

'p = ["dog","cat","cow","rat","monkey"]\n#print("lenght of p: ",len(p))\n\'\'\'n = len(p)\nprint(p[3],p[-2])\nprint(p[4],p[-1])\'\'\'\n\nq = [1,2,3,4,5]\n\ni = 0\nwhile i<5:\n    print(p[i],q[i])'

*list -----method*

In [ ]:
# list 
p = ["mango","apple","banana","orange",]

#p.append("cow") # add element
#p.remove("banana") # removed element
#p[1] = "Jackfruit" # change element
del p[2] # change element
p.append(20)
print(p)

['mango', 'apple', 'orange', 20]

*python list ++++++concanate*

In [ ]:
p = [1,2,3]
#q = [4]
#q = []
#r = 10 # a number
#r = "man"
#q = [4,5,6]
#print(p+q)
q = [20]
print(p+q)

[1, 2, 3, 20]

*list repitition*

In [ ]:
p = [1,2,3,4,]
print(p * 2)
print(p * 0)
print(p * 4)
print(len(p * 4))
print(len(p * 4),len(p*1),len(p*3))

[1, 2, 3, 4, 1, 2, 3, 4]
[]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
16
16 4 12

*list in operatioon*

In [ ]:
p = ["apple","orange","banana","pineapple"]
#print("apple" in p)
#print("Apple" in p)
#print("quava" in p)


print("apple" in p)


if "apple" in p:
    print("TRUE")
else:
    print("FALSE")

print("man" in p)

if "man" in p:
    print("TRUE")
else:
    print("FALSE")

True
TRUE
False
FALSE

*Bubbleshort*

In [ ]:
p = [8,2,4,1]

print("Before shorting: ",p)

#p = [8,2,4,1]
i = 0
while i <len(p):
    j = 0
    while j <i:
        if p[i] < p [j]:
            temp = p [i]
            p[i] = p [j]
            p[j] = temp
        j = j + 1
    i = i + 1
print("After Shorting: ",p)

Before shorting:  [8, 2, 4, 1]
After Shorting:  [1, 2, 4, 8]

*For loop index*

In [ ]:
p =[1,2,3,4,5]

for i in p:  # for loop creats a scope which executes multiple times
    print(i)
q = [ "apple","banana","pineapple","orange"] 
for i in  q:
    print(i)

1
2
3
4
5
apple
banana
pineapple
orange

for loop number lot fofff

In [ ]:
p =[1,2,3,4,5]  # 1+2+3+4+5+ = 15
s = 0
for i in p:  # for loop creats a scope which executes multiple times
    s = s + 1
    print("sum of elements: ",s)

q = ["apple","banana","pineapple","orange"] 

c = ''
for i in q:
   c = c + i
print("Concanate of fruite: ",c)

sum of elements:  1
sum of elements:  2
sum of elements:  3
sum of elements:  4
sum of elements:  5
Concanate of fruite:  applebananapineappleorange

*forloop  nested forloop*

In [ ]:
p = [1,2,3,4]
q = ["apple","orange","pinaapple","grapes"]
for i in p:
    for j in q:
        print(i,j)

1 apple
1 orange
1 pinaapple
1 grapes
2 apple
2 orange
2 pinaapple
2 grapes
3 apple
3 orange
3 pinaapple
3 grapes
4 apple
4 orange
4 pinaapple
4 grapes

for loop index

In [ ]:
p =[1,2,3,4,5]

i = 0
while i<len(p):
    print(p[i])
    i = i + 1
print("For Loop: ",)
    
for i in range(0,len(p)):    #lenght =(o,5)->(0,1,2,3,4) 
 print(p[i])

1
2
3
4
5
For Loop:
1
2
3
4
5

*for loop brack statement*

In [ ]:
p =[1,2,3,4,5]

for i in p:
    if i == 4:
        brack;
    print(i)

1
2
3

NameError: ignored

*continue statement*

In [ ]:
p =[1,2,3,4,5,12,6,7]

def continu(list):
    for i in list:
        if i < 10:
            continue
        return i;

print(continu(p))

12

*Dictonary is a key value paairs*

In [ ]:
p  = {'apple':4,'banana':9,'orange':12,'paineapple':20,}
print(p['apple']) # index
print(p['orange']) # index
print(p) # index

4
12
{'apple': 4, 'banana': 9, 'orange': 12, 'paineapple': 20}

Dictonary

In [ ]:
p  = {'apple':4,'banana':9,'orange':20,'paineapple':15,}
for i,j in p.items():
    print(i,j)

print(p['apple'],p['orange'])

apple 4
banana 9
orange 20
paineapple 15

*Recursion*   Factorial(n) =1828384858...n 
Factorial(1) = 1
Factorial(2) = 2
Factorial(n) = n*Factorial(n-1)  = n

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(1))

1

*factorial*  # *1*2*3*4*5*6...n # 4**::::4*3*2*1=24

In [ ]:
n = int(input("Enter a number:"))

fact = 1

while n>1:
    fact = fact * n
    n = n - 1
print("Factorial: ",fact)

Enter a number:4
Factorial:  24

*Import*

In [ ]:
import math 
#print(math.pi)
#print(math.sin(1))
#print(int(math.sin(math.pi/2)))
print(math.sin(math.pi/2))

1.0

*sqrare root*

In [ ]:
import math

#print(math.sqrt(4))
#print(math.sqrt(5))
#print(int(math.sqrt(4)))
a = 2
b = 3
c = math.sqrt(a*a + b*b)         #c = sqrt(a=4+  b=9) sqrt=13
print(c)

3.605551275463989

exp.py

In [ ]:
#4^7
#print(2**3)

import math

#print(math.exp(1)) #
print(math.exp(3)) #

20.085536923187668

*logarithm*

In [ ]:
#log 

import math

#log(x) ----> base e
#log2(x) ----> base 2
#log10(x) ----> base 10

print(math.log(10))

2.302585092994046

*import-2 Date, time *

In [ ]:
import datetime
time = datetime.time(10,45,20)          #hour,munite,scound
print("\nHour: ",time.hour)
print("\nMinute: ",time.minute)
print("\nSecond: ",time.second)


date = datetime.date(2020,12,14)       #year,month,date
print("\nYear: ",date.year )
print("\nMonth: ",date.month )
print("\nDay: ",date.day )

Hour:  10

Minute:  45

Second:  20

Year:  2020

Month:  12

Day:  14

***datetime import***

In [ ]:
import datetime

time = datetime.datetime.now()

print("Hour: ",time.hour)
print("Minute: ",time.minute)
print("Second: ",time.second)
print("Microsecond: ",time.microsecond)  #   10 ^

Hour:  7
Minute:  27
Second:  11
Microsecond:  97333

import date time today

In [ ]:
from datetime import date

print(date.today())
#print(datetime.now())

2020-12-14

***TIMe DALTA***

In [ ]:
#timedelta
from datetime import datetime

a = datetime(2020,11,28,10,15,20)
#a = date(2020,12,28)
b = datetime(2020,12,12,11,5,5)


#print(a-b)
#print((b-a).days)
#print((b-a).seconds)
#print((b-a).time)
#print((b-a).microseconds)
print(b-a)

14 days, 0:49:45

***RECURTION***

In [ ]:
# SQUARE SUM - RECURTION
# 1 ^2+2^2+3^2+......+N^2
#1*1+2*2+3*3+4*4......(n-1)



def sqr_sum(n):
    if n == 1:
        return 1
    else:
        return n*n + sqr_sum(n-1)

a = int(input())   # 3*3=9 + 2*2=4 + 1*1=1
b = sqr_sum(a)

print(b)

3
14

***Python keyword***

In [ ]:
import keyword
import sys
print(sys.version_info)
print(keyword.kwlist)
print('keyword list: ',len(keyword.kwlist))

sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)
['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
keyword list:  33

*logical operator*

In [ ]:
a = 3<2 and 2<3
b = 3<4 or 4<3
c = not 1>2
print(c)

True

*Relation Operator* == , != ,<,>, <=, ,=> Boolean = true / false

In [ ]:
print(1<2)
print(1>2)
print(2!=2)
print(3>=3)

True
False
False
True

*reguler expresion*

In [ ]:
import re # r = regular and e = expresion
a = "My name is musa and i am a student"
#re.search(pattern,string,flags<optional>)
#(.*--*.)
#.means match any charecter
#*means zero or more
#flags <optional>
#re.I means case insensitive

p = re.search('.*is.*',a,re.I)
if p:
    print("found")
else:
    print("not found")



p = re.search('.*iss.*',a,re.I)
if p:
    print("found")
else:
    print("not found")

found
not found

Group 1 2

In [ ]:
import re 
a = "My name is musa and i am a student"

p = re.search('(.*)and (.*)',a,re.I)
if p:
    print("found")
    print(p.group())
    print(p.group(1), ":" ,p.group(1).capitalize())
    print(p.group(2), ":",p.group(2).upper())
else:
    print("not found")

found
My name is musa and i am a student
My name is musa  : My name is musa
i am a student : I AM A STUDENT

***REGULER MATCH***

In [ ]:
import re

a = 'My name is LutfulBariMusa and i am a student'

#re.match(pattern,string,flags(option))

#p = re.match('.*name.*',a)
p = re.match('(My.*)(and)(.*student)',a,re.I)

if p:
    print('Match')
    print('Group-1: ',p.group(1))
    print('Group-2: ',p.group(2))
    print('Group-3: ',p.group(3))

else:
    print('Not Match')

Match
Group-1:  My name is LutfulBariMusa
Group-2:  and
Group-3:   i am a student

*Reguler Expresion ---subtitution*

In [ ]:
import re 

# re.sub(pattern,replacement,string)

a = "This is 1234 to 567 haha "

# \d mens digit
# \D mens nonedigit
#p = re.sub("\d","",a)
#p = re.sub("\d.*","0",a)
p = re.sub("\D.*","0",a)
print(p)

0

reguler expresion --Gmail

In [ ]:
#serching gmail

import re 

a = "lutfulbarimusa@gmail.com"
# re.search(pattern,string,flags<OPtional>)
# \w = word charecter
p = re.search("\w+@gmail.com",a)

if p:
    print("Found")
else:
    print("Not Found")

Found

In [ ]:
#serching gmail

import re 

a = "lutfulbari.29@gmail.com"
# re.search(pattern,string,flags<OPtional>)
# \w = word charecter
p = re.search("\w+\.\w+@gmail.com",a)

if p:
    print("Found")
else:
    print("Not Found")

Found

In [ ]:
#serching andy mail petern

import re 

a = "lutfulbarimusa@hotmail.com"
# re.search(pattern,string,flags<OPtional>)
# \w = word charecter
# universel universelemil serching

p = re.search("\w+\.*\w+@\w+\.\w+",a)

if p:
    print("Found")
else:
    print("Not Found")

Found

***Reguler Expresion Subtitutde***

In [ ]:
import re 

a = 'This is a number 01552464940'

#re.sub(pattern,replacement,string)

#p = re.sub('\w+','&',a)
#p = re.sub('\w+s','&',a)
#p = re.sub('\d','&',a)
#p = re.sub('\D','&',a)
p = re.sub('\D','lutful',a)


print(p)

lutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutfullutful01552464940

***Reguler expresion Svariable***

In [ ]:
a = 10 
b = 'hello'

c,d= 30,'world'
e,f,g,h = 1,2,3,'haaaaaa'

print(a,b,c,d,e,f,g,h)

10 hello 30 world 1 2 3 haaaaaa

# ***tuple data structure***

In [ ]:
a = (1,2,'apple','banana')

#print(len(a))
#print(a[2])
#print(a[0:3])
print(a[1:4])

(2, 'apple', 'banana')

# ***# List and tuple*** Tuple data changessssssss to list

In [ ]:
a = [1,2,3,4]  #list
b = (4,5,6,7,8) # tuple

a.append(10)
#b.append(10)
c = tuple(a)
#c.append(12)
d = list(b)
d.append(12)

b = tuple(d)

print(a)
print(b)
print(c)

[1, 2, 3, 4, 10]
(4, 5, 6, 7, 8, 12)
(1, 2, 3, 4, 10)

# Tuple  Matching max

In [ ]:
a = [1,2,3,4,5]  #list
b = (4,5,6,7,8,9) # tuple

print('a = ',max(a),'!',"b = ",max(b))
print('a = ',min(a),'!',"b = ",min(b))
print('a = ',len(a),'!',"b = ",len(b))
print('a = ',a.index(4),'!',"b = ",b.index(7))
print('a = ',a.count(3),'!',"b = ",b.count(7))

a =  5 ! b =  9
a =  1 ! b =  4
a =  5 ! b =  6
a =  3 ! b =  3
a =  1 ! b =  1

# String

In [ ]:
a = "i love lutfulbari"
#print(a.reverse())

print(a[::-1])    #index searching

irabluftul evol i

# String word Reverse

In [ ]:
a = ' i love  singapore' #space
 
b = a.split(' ') # list white/space/tab/newline

c = b[::-1]

d = '#'.join(c)

print(' '.join(a.split()[::-1])) #one step

#prin t( c)
#print(d)
#print(b)

singapore love i

# Data structure  ( set )

In [ ]:
#set is a sequence of unice element

a = { 1,2,3,4,5,6,7,8,9,10}

b = {"lutful","bari","musa"}

c = {4,5,6,7,8,22,11,45,3,2,1}

d = set(c)

print(tuple(d))
print(a)

print(b)

print(set(c))

(1, 2, 3, 4, 5, 6, 7, 8, 11, 45, 22)
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'bari', 'lutful', 'musa'}
{1, 2, 3, 4, 5, 6, 7, 8, 11, 45, 22}

# Set subset and superset

In [ ]:
set1 = { 1,2,3,4,5,6,7,8,9,10}
set2 = {6,7,8,9,10}
# > = superset
# < = suberset

#print(set1 > set2)
#print(set2 < set1)
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

# SET difference

In [ ]:
set1 = {1,3,4,7,8,9,10}
set2 = {2,4,7,8,9,10}

#print(set1 - set2)
#print(set2 - set1)


print(set1.difference(set2))
print(set2.difference(set1))

{1, 3}
{2}

# Enumerate

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

for i,j in enumerate(a):

  print("index: ",i,"value: ",j,a[i] == j)

#print(a[3] == 4)

index:  0 value:  1 True
index:  1 value:  2 True
index:  2 value:  3 True
index:  3 value:  4 True
index:  4 value:  5 True
index:  5 value:  6 True
index:  6 value:  7 True
index:  7 value:  8 True
index:  8 value:  9 True
index:  9 value:  10 True

# ***LIst tupel comprehension ***

In [ ]:
# a = {X\x E N and 1<=x<5}
#a = [x for x in range(1,6)]
#a = [x for x in range(1,5001)]
#a = [x for x in range(1,50)]
a = {x for x in range(1,50)}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49}

# Comprehension and Condition

In [ ]:
#a = {x| x E N and x is even number and 1<=x<10}

#a = [x**2 for x in range(1,11)if x%2 ==0]
a = [x**2+x for x in range(1,11)if x%2 == 0]

# expresion,reange/enumerate, = f(x) =x^2 ,condition

print(a)

[6, 20, 42, 72, 110]

# Dictionary and comrehension

In [122]:
#a = {1:1,2:4,3:9,4:16,5:25.....}
#a = {x:x**2 for x in range(1,6)}
#a = {x:x**2 for x in range(1,6)}
#a = {x:x**2 for x in range(1,100)}
#a = {x:x**2 for x in range(1,100)if x%2 ==0}
a = {x**2:x for x in range(1,10)}

print(a)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}