<a href="https://colab.research.google.com/github/Lutfulbari/python-A-to-Z/blob/gh-pages/python_A_z_test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello\nworld')

In [ ]:
print('hello world')

In [ ]:
print('hello.world')

In [ ]:
print('hello,world')

** Math** summation````

In [ ]:
a = 10
b = 5
c = a + b
print("summation: \n",a,"+",b,"=",c,)

**subtract**

In [ ]:
a = 10
b = 5
d = a - b
print("subtract: \n",a,"-",b,"=",d,)

*multiple*

In [ ]:
a = 10
b = 5
e = a * b
print("multiple: \n",a,"*",b,"=",e,)

Divided

In [ ]:
a = 10
b = 5
d = a / b
print("subtract: \n",a,"/",b,"=",d,)

In [ ]:
'''a = 10
b = 5
d = a / b
print("subtract: \n",a,"/",b,"=",d,)'''

In [ ]:
#a = 5
#b = 5
#d = a / b
# print("subtract: \n",a,"/",b,"=",d,)

**string**

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(a+b)

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(a,b)

In [ ]:
a = "lutful"
b = "bari"
c = a + b
print(c,2222)

capitalize

In [ ]:
a = "python developer"
cap = a.capitalize()
print(cap)

**uppercase**

In [ ]:
a = "python developer"
up = a.upper()
print(up)

**Lowercase**

In [ ]:
a = "PYTHON DEVELOPER"
low = a.lower()
print(low)

*title*

In [ ]:
a = "PYTHON DEVELOPER"
tit = a.title()
print(tit)

Boolean

In [ ]:
a = "PYTHON DEVELOPER"
print(a.islower())

In [ ]:
a = "python developer"
print(a.islower())

In [ ]:
a = "python developer"
print(a,"is lower ?",a.islower())
print(a,"is lower --> ?",a.isupper())
up = a.upper()
print(up,"--> Is Upper ?",up.isupper())
print(a,"--> Is alpha ?",up.isalpha())
b="itscallalpha"
c="itscal50lalpha"
d="01552464940"
e="lutfulbarimusa"
print(b,"--> Is alpha ?",b.isalpha())
print(c,"--> Is alnum ?",c.isalnum())
print(d,"--> Is aldigit ?",d.isdigit())
print(e,"--> Is aldigit ?",e.isdigit())

**split**

In [ ]:
a ='musa want to be A python developer'
sp = a.split('a')
print(sp)
b = 'musa want to be A python developer'
sp = b.split('n')
print(sp)
a ='musa want to be A python developer'
sp = a.split('m')
print(sp)

In [ ]:
a = "Musa want to be a python ios developer."
find = a.find("b")
print(find)
a = "Musa want to be a python ios developer."
find = a.find("sa")
print(find)
a = "Musa want to be a python ios developer 2020."
find = a.find("20")
print(find)
# join()
a = "Musa  want to be a python ios developer."
find = a.find("b")
print(find)

**Join**

In [ ]:
a = ["Musa","want","to","be","a","python","ios","developer."]
b = '<>'
print(b.join(a))

In [ ]:
a = ["Musa","want","to","be","a","python","ios","developer."]
b = '()\n'
print(b.join(a))

**string .format**

In [ ]:
print('{1} {2} {0}'.format('one','two','three'))
print('{0} {1} {2} {0}'.format('one','two','three'))

print('{:.>20} {} {} '.format('one','two','three'))
print('{:.<20} {} {} '.format('one','two','three'))
print('{:.^20} {:.^20} {:.^20} '.format('one','two','three'))

**input**

In [ ]:
a = input()
b = input()
print(a+b)

In [ ]:
a =int (input())
b =int (input())
print(a+b)

In [ ]:
a =float (input())
b =float (input())
print(a+b)

In [ ]:
a =(input())
b =(input())
print(a+b)

**if&eles**if=eles condition   statemenr

In [ ]:
a = 5
b = 8
if a < b:
    print("a is small")
else:
    print('b is small')

In [ ]:
a = 44
b = 8
if a < b:
    print("a is small")
else:

    print('b is small')

In [ ]:
c = 44
d = 12
if c < d:

    print("c is small")
else:

    print('d is small')

In [ ]:
a =int (input())  
b =int (input())
a = 333
b = 314
if a > b:
    print('a is small')
else:
    print('b is smal')

In [ ]:
a = 5
b = 8

if a < b:
    print("a is small")
else:
    print("b is small")

In [ ]:
a = 53
b = 8

if a < b:
    print("a is small")
else:
    print("b is small")

In [ ]:
print("enter first is small:")
a = int (input())

print("enter scound is small:")
b = int (input())


if a < b:

    print("first number is small")
else:

    print("scound number is small")

**if & else**

In [ ]:
a = 233
b = 273
c = 443
if a > b:
    if a > c:
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gretest")
    else:        
        print("a is gretest")

else:
    print("c is gretest")

In [ ]:
a = 2322
b = 223
c = 43
if a > b:
    if a > c:
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gretest")
    else:        
        print("a is gretest")

else:
    print("c is gretest")

In [ ]:
a = 22
b = 223
c = 43
if a < b:
    if a < c:
        
        print("a is gretest")
    else:
        print("c is gretest")
elif b > c:

    if b > a:
        print("b is gretest")           
    else:
        print("a is gretest")
else:
    print("c is gretest")

In [ ]:
a = 53
b = 8

if a > b:
    print("a is small")

In [ ]:
a = 50
b = 30
c = 60
if a > b:
    if a > c:
        print("a is gratest")
    else:
        print("c is gretest")
elif b > c:
    if b > a:
        print("b is gratest")
    else:
        print("a is gratest")
else:
    print("c is gratest")

In [ ]:
a = 10
b = 20
c = 30
if a > b:
    if a > c:
        print("a is gratest")
    else:
        print("c is gratest")
elif b > c:
    if b > a:
        print("b is gratest")
    else:
        print("a is gratest")
else:
    print("b is gratest")

**if & else  GRADE & GRADE POINT**

In [ ]:
mark = int(input())
if mark > 79:       # mark = 79 --100
    if mark < 100:
        print("A+")
elif mark > 75:     # mark = 75 --79    
    if mark < 79:
        print("A")
elif mark > 70:     # mark = 7 --74    
    if mark < 74:
        print("A-") 
elif mark > 65:     # mark = 65 --69    
    if mark < 69:
        print("B+")
elif mark > 64:     # mark = 64 --60    
    if mark < 60:
        print("b-")
elif mark > 50:     # mark = 50 --59    
    if mark < 59:
        print("C+")
elif mark > 50:     # mark = 50 --54    
    if mark < 54:
        print("C")
elif mark > 40:     # mark = 40 --44    
    if mark < 44:
        print("D")
else:               # MARK = 00 ---> 39
    print("FAIL")

In [ ]:
 print("Enter your subject mark:")
mark = int (input())
if mark >= 80:       # mark = 79 --100
    if mark <= 100:
        print("Grade = A+ \n Grade point: 4.00")
elif mark >= 75:     # mark = 75 --79    
    if mark <= 79:
        print("Grade = A \n Grade point: 3.75")
elif mark >= 70:     # mark = 7 --74    
    if mark <= 74:
        print("Grade = A- \n Grade point: 3.50")
elif mark >= 65:     # mark = 65 --69    
    if mark <= 69:
        print("Grade = b+ \n Grade point: 3.25")
elif mark >= 64:     # mark = 64 --60    
    if mark <= 60:
        print("Grade = B \n Grade point: 3.00")
elif mark >= 50:     # mark = 50 --59    
    if mark <= 59:
        print("Grade = B- \n Grade point: 2.75")
elif mark >= 50:     # mark = 50 --54    
    if mark <= 54:
        print("Grade = C+ \n Grade point: 2.50")
elif mark >= 40:     # mark = 40 --44    
    if mark <= 44:
        print("Grade = D \n Grade point: 2.00")
else:               # MARK = 00 ---> 39
    print("FAIL\n Grade point:0.00")

In [ ]:
 print("Enter your subject mark:")
mark = int (input())
if mark >= 80:       # mark = 79 --100
    if mark <= 100:
        print("Grade = A+ \n Grade point: 4.00")
elif mark >= 75:     # mark = 75 --79    
    if mark <= 79:
        print("Grade = A \n Grade point: 3.75")
elif mark >= 70:     # mark = 7 --74    
    if mark <= 74:
        print("Grade = A- \n Grade point: 3.50")
elif mark >= 65:     # mark = 65 --69    
    if mark <= 69:
        print("Grade = b+ \n Grade point: 3.25")
elif mark >= 64:     # mark = 64 --60    
    if mark <= 60:
        print("Grade = B \n Grade point: 3.00")
elif mark >= 50:     # mark = 50 --59    
    if mark <= 59:
        print("Grade = B- \n Grade point: 2.75")
elif mark >= 50:     # mark = 50 --54    
    if mark <= 54:
        print("Grade = C+ \n Grade point: 2.50")
elif mark >= 40:     # mark = 40 --44    
    if mark <= 44:
        print("Grade = D \n Grade point: 2.00")
else:               # MARK = 00 ---> 39
    print("FAIL\n Grade point:0.00")

**FUNCTION**

In [ ]:
def add(a,b):
    c = a+b
    return c

def sub(a,b):
    c = a-b
    return c

a = 5
b = 8

s = add(a,b)

print("ADD: ",s)

d =sub(a,b)

print("SUBTRACT: ",d)

In [ ]:
def display(name,id,age):
    print("Name: ",name)
    print("Id: ",id)
    print("Age: ",age)
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)

Name:  lutful bari musa
Id:  552464940
Age:  21

In [ ]:
def display(name,id,age):
    print("Name: ",name)
    print("Id: ",id)
    print("Age: ",age)
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)    
         
d = "LutfulBariMusa"
e = "400464040"
f = "22"
 
display(d,e,f)

In [ ]:
def display(name,id,age):
    print("Name: ",name,"--> Id: ",id,"--> Age: ",age)
    
a = "lutful bari musa"
b = "552464940"
c = "21"
display(a,b,c)    
         
d = "LutfulBariMusa"
e = "400464040"
f = "22"
 
display(d,e,f)

In [ ]:
def print_greatest_no(a,b,c):
    
    if a>b:
        if a>c:
            print(a,"is Greatest")
        else:
            print(c,"is Greatest")
    elif b>a:
        if b>c:
            print(b,"is Greatest")   
        else:
            print(c,"is Greatest")   
    else:
        print(c,"is Greatest")   
a = 40
b = 20
c = 30
print_greatest_no(a,b,c)

40 is Greatest

In [ ]:
def print_greatest_no(a,b,c):
    greatest = 0
    if a>b:
        if a>c:
            greatest = a
        else:
            greatest = c
    elif b>a:
        if b>c:
            greatest = b   
        else:
            greatest = c   
    else:
        greatest = c

    print(greatest,"is greatest")   
a = 40
b = 20
c = 30
print_greatest_no(a,b,c)

In [ ]:
def get_greatest_no(a,b,c):
    greatest = 0
    if a>b:
        if a>c:
            greatest = a
        else:
            greatest = c
    elif b>a:
        if b>c:
            greatest = b   
        else:
            greatest = c   
    else:
        greatest = c

    return greatest   

a = 40
b = 20
c = 30
d = get_greatest_no(a,b,c)

print(d,"is greatest")

40 is greatest

**passing prameter by name**

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(name = "lutful",id = 20)

Name:  lutful  --> ID:  20

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(id = 20,name = "lutful")

Name:  lutful  --> ID:  20

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display(20,"lutful")

Name:  20  --> ID:  lutful

In [ ]:
def display(name,id):
    
    print("Name: ",name," --> ID: ",id)

display("lutful",20)

Name:  lutful  --> ID:  20

**Forwarding function**

In [ ]:
def add(p,q,r):
    return p+q+r

d1 =  [1000,20,10]
s = add(d1[0],d1[1],d1[2])
print(s)

1030

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p+q+r

def add2(p,q,r):
    return p+q+r

d1 =  [1000,20,10]
s = add(d1[0],d1[1],d1[2])

print(s)

1030

**forwarding function**

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p+q+r

def add2(p,q,r):
    return add1(q,p,r)

d1 = [1000,20,10]
s = add(*d1)
print(s)

#print(add2(d1))

1030

In [ ]:
def add(p,q,r):
    return p+q+r

def add1(q,p,r):
    return p-q+r

#forwarding function 

def add2(p,q,r):
    return add1(q,p,r)

d1 = [1000,20,10]
s = add(*d1)
#print(s)

print(add1(*d1))

-970

**While loop**

In [ ]:
i = 0

while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

**Continue and Brack**

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
3
4
6
7
8
9

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        break
    print(i)
    i = i + 1
print("end")

0
1
2
3
4
end

In [ ]:
i = 0
while i<10:
    if i==5:
        i = i + 1
        continue
    print(i)
    i = i + 1
print("end")

0
1
2
3
4
6
7
8
9
end

**FIBONACCI NUMBER**

In [ ]:
def fibonacci (n):
    first = 0
    second = 1
    fibo = 0
    print(first)
    print(second)

    i = 3
    while i <= n:
        fibo = first + second
        print(fibo)
        first = second 
        second = fibo
        i = i + 1
a = int(input("Enter a number: "))
fibonacci (a)

Enter a number: 32
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

# Function

In [44]:
def add(a,b):
    c = a+b
    return c

def sub(a,b):
    c = a-b         # one houre pagol hoye gesilam ple solved koren
    return c

a = ('rahat is a cse student+')

b = ('student time he is doing work')

s = add(a,b)

print("ADD: ",s)

d = sub(a,b)

print("SUBTRACT: ",d)

ADD:  rahat is a cse student+student time he is doing work

TypeError: ignored